@model PublicListVehicleViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row p-3">
    <div class="col">
        <h1>Vehicles</h1>
        <hr />
        <div class="row">
            @foreach (var item in Model.Vehicles)
            {
                <div class="col-3 mb-2">
                    <div class="card">

                        <img src="~/uploads/@item.FeatureImage" class="card-img-top" alt="@item.Name">

                        <div class="card-header">
                            <h3 class="card-title">@item.Name</h3>
                        </div>

                        <div class="card-body">
                            <p>@item.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col">
                <hr />
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(Model.VehicleRequestParametersVM.HasPrevious ? "" : "disabled") ">
                            <a
                                class="page-link"
                                asp-area=""
                                asp-action="Index"
                                asp-route-start="@(Model.VehicleRequestParametersVM.Start - Model.VehicleRequestParametersVM.Length)"
                                asp-route-length="@Model.VehicleRequestParametersVM.Length">
                                <span aria-hidden="true">Previous</span>
                            </a>
                        </li>

                        @for (int i = 0; i < (Model.VehicleRequestParametersVM.TotalItemsCount / Model.VehicleRequestParametersVM.Length); i++)
                        {
                            <li class="page-item @((Model.VehicleRequestParametersVM.Start / Model.VehicleRequestParametersVM.Length) == i ? "active" : "")">
                                <a
                                   class="page-link"
                                   asp-area=""
                                   asp-action="Index"
                                   asp-route-start="@(Model.VehicleRequestParametersVM.Length * i)"
                                   asp-route-length="@Model.VehicleRequestParametersVM.Length">
                                    @(i + 1)
                                </a>
                            </li>
                        }

                        <li class="page-item @(Model.VehicleRequestParametersVM.HasNext ? "" : "disabled") ">
                            <a
                                class="page-link"
                                asp-area=""
                                asp-action="Index"
                                asp-route-start="@(Model.VehicleRequestParametersVM.Start + Model.VehicleRequestParametersVM.Length)"
                                asp-route-length="@Model.VehicleRequestParametersVM.Length">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

