@model IEnumerable<ListVehicleViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["GetVehiclesURL"] = Url.Action("Post", "Vehicles", new { Area = "Admin" });
    ViewData["EditVehicleURL"] = Url.Action("Edit", "Vehicles", new { Area = "Admin" });
    ViewData["DetailVehicleURL"] = Url.Action("Detail", "Vehicles", new { Area = "Admin" });
    ViewData["DeleteVehicleURL"] = Url.Action("Delete", "Vehicles", new { Area = "Admin" });
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-action="Create">Create New</a>
</p>

<partial name="_FilterForm.cshtml" />


<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <table class="table" id="vehicles">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsRegistered)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Color)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Condition)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Model)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_ConfirmDeleteModalPartial" />

@section Scripts {
    <script src="~/js/deleteResource.js"></script>

    <script>
        $(document).ready(function () {

            const $vehicleTable = $("#vehicles").DataTable({
                "processing": true,
                "serverSide": true,
                "pageLength": 2,
                language: {
                    searchPlaceholder: "Search by name"
                },
                ajax: {
                    url: "@ViewData["GetVehiclesURL"]",
                    type: "POST",
                    contentType: "application/json",
                    data: function (d) {

                        // Collect custom filter values.
                        const filterFormObjArr = $("#filterForm").serializeArray();
                        filterFormObjArr.forEach(function (fieldObj) {
                            if (fieldObj["value"] !== "" && fieldObj["value"] !== undefined) {
                                d[fieldObj["name"]] = fieldObj["value"];
                            }
                        });

                        console.log(d);
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { data: "id" },
                    {
                        data: "name",
                    },
                    {
                        data: "isRegistered",
                        searchable: false
                    },
                    {
                        data: "color",
                        searchable: false
                    },
                    {
                        data: "condition",
                        searchable: false
                    },
                    {
                        data: "price",
                        searchable: false
                    },
                    {
                        data: "model",
                        searchable: false
                    },
                    {
                        data: "createdAt",
                        searchable: false
                    },
                    {
                        data: "id",
                        orderable: false,
                        searchable: false,
                        render: function (data) {
                            return `<a class="btn btn-link" href="@ViewData["EditVehicleURL"]/${data}">Edit</a> |
                                <a class="btn btn-link" href="@ViewData["DetailVehicleURL"]/${data}">Details</a> |
                                <a data-toggle="modal" data-target="#confirmDeleteModal" href="@ViewData["DeleteVehicleURL"]/${data}">Delete</a>`;
                        }
                    }
                ]
            });

            // trigger filter action
            $("#filterBtn").on("click", function (e) {
                e.preventDefault();
                $vehicleTable.draw();
            });

            // trigger clear filters action
            $("#clearFilters").on("click", function (e) {
                //window.location.reload();
                $("#filterForm").find("input[type=text], select").val("");
            });
        });
    </script>
}
